{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}

<div class="single-page">
    <div class="article-content">

    <div class="article-items">
        <img class="page-img" src="{{ asset('img/uploads/' ~ page.image.fileName) }}" alt="{{ page.title }}">
    </div>

    <div class="article-items">
        <h1 class="page-title">{{ page.title }}</h1>
    </div>

    <div class="article-items">
        <div class="text">{{ page.text|raw|nl2br }}</div>
    </div>

    </div>
</div>

{% endblock %}