<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Les Bâtonnets de Poisson{% endblock %}</title>

		<link rel="icon" type="image/png" href="{{ asset('img/logo_eye_color.png') }}" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mqueries.css') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

	<body>

	<header>
        <nav class="navbar">

        	<a class="nav-logo" id="logo" href="{{ path('app_home') }}">
            	<img class="nav-logo-img" src="{{ asset('img/logo_eye_white.png') }}" alt="Les Bâtonnets de Poisson">
           	 	<p class="titre nav-titre">Les Bâtonnets de Poisson</p>
        	</a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_articles', {category: 'guides'}) }}">Guides</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_articles', {category: 'builds'}) }}">Builds</a>
                </li>

                {# Partie Galerie qui sera ajoutée a posteriori #}
                {# <li class="nav-item">
                    <a class="nav-link" href="">Galerie</a>
                </li> #}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_page', {slug: 'charte-de-guilde'}) }}">Charte de Guilde</a>
                </li>
			</ul>

			<ul class="nav-menu-account">
                <li class="nav-item-account">
                    <a class="nav-link nav-account-text" href="{{ path('app_contact') }}">Contact</a>
                    <a class="nav-link nav-account-icon" href="{{ path('app_contact') }}"><i class="fa-solid fa-envelope fa-lg"></i></a>
                </li>

                {% if app.user %}
                    <div class="dropdown">
                        <input type="checkbox" id="checkbox_id" class="dropdown-menu">
                        <label for="checkbox_id" class="nav-link">
                            Mon Profil
                        <i class="fa fa-caret-down"></i>
                        </label>
                         <div class="dropdown-content">
                            <a href="#">Edit infos</a>
                            <a href="#">Edit Password</a>
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </div> 
                {# {% elseif is_granted('ROLE_ADMIN') %}
                    <div class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </div> #}
                {% else %}
                    <div class="dropdown">
                        <input type="checkbox" id="checkbox_id" class="dropdown-menu">
                        <label for="checkbox_id" class="nav-link">
                            Connexion
                        <i class="fa fa-caret-down"></i>
                        </label>
                         <div class="dropdown-content">
                            <a href="{{ path('app_login') }}">Se connecter</a>
                            <a href="{{ path('app_registration') }}">S'inscrire</a>
                        </div>
                    </div> 
                {% endif %}
           </ul>

           <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

        </nav>
    </header>

	<main>
    {% block body %}{% endblock %}
	</main>

	<footer>
		<p>© Les Bâtonnets de Poisson (2015-2022)</p>
	</footer>

	{% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="{{ asset('js/site.js') }}" type="text/javascript"></script>
    {% endblock %}
	</body>

</html>
