{% set username = comment.user.username %}

<div id="comment-{{ comment.id }}">
        <div class="comment_item">
            
            <p class="comment_info"><span class="comment-author">{{ username }}</span>, le {{ comment.createdAt|date('d M Y à H:i') }}</p>

            <p class="comment_message">{{ comment.text|raw }}</p>

            <p> <a href="#comment_form" class="submit_button" data-reply data-id="{{ comment.id }}">Répondre</a></p>

        </div>
</div>
