{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div>
    <h1>Tous les articles</h1>

    <div id="allarticles" class='d-flex flex-wrap justify-content-evenly'>
		{% include "article/_cards.html.twig" %}
	</div>

        <div class="row">
            <div>
                {{ knp_pagination_render(articlesList) }}
            </div>
        </div>

    {# <div>
    {% for article in articlesList %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img class="card-img" src="{{ asset('img/raid_lorkaj.png') }}" alt="Raid Lorkaj">
                    <h5 class="card-title">
                        <a href="{{ path('app_single', {id: article.id}) }}">{{ article.title }}</a>
                    </h5>
                    <p class="card-text">{{ article.text}}</p>
                </div>
            </div>
        </div>
    {% endfor %} #}
    </div>
</div>
{% endblock %}
