{% extends 'base.html.twig' %}

{% block title %}Les Bâtonnets de Poisson - {{ article.title }}{% endblock %}

{% block body %}

{# Corps de l'article #}
<div class="single-article">

    <img class="banner" src="{{ asset('img/uploads/' ~ article.banner.fileName) }}" alt="{{ article.title }}">

    <section class="article-content">
        <div class="article-items">
            <h1 class="title">{{ article.title }}</h1>
        </div>

        <div class="details article-items">
            <p>Auteur·ice : {{ article.author }}</p>
            <p>Publication : {{ article.createdAt|date('d M Y') }}</p>
            {% if article.updatedAt %}
            <p> Dernière mise à jour : {{ article.updatedAt|date('d M Y') }}
            {% endif %}
        </div>

        <div class="article-items">
            <div class="text">{{ article.text|raw|nl2br }}</div>
        </div>
    </section>

    <section class="article-comments">
        {# Formulaire de commentaires #}
        <h3>Laisser un commentaire</h3>

        {% include 'home/flash.html.twig' %}
        
        <div class="comment_form">{{ form(commentForm) }}</div>

        <h3>{{ article.comments|length }} commentaire(s)</h3>

        {# Liste des commentaires #}
        <div class="comment_list">
            {% for comment in comments %}
                {% if comment.parent == null %} 
                    <div class="comment_item comment_parent">
                        <p class="comment_info"><span class="comment_author">{{ comment.user.username }}</span>, le {{ comment.createdAt|date('d M Y à H:i') }}</p>
                        <p class="comment_message">{{ comment.text|raw }}</p>
                        <p> <a href="#comment_form" class="comment_reply_button submit_button" data-reply data-id="{{ comment.id }}">Répondre</a></p>
                    </div>
                    {% for reply in comment.replies %}
                    <div class="comment_item comment_reply">
                        <p class="comment_info"><i class="fa-regular fa-circle-right"></i>  Réponse de <span class="comment_author">{{ reply.user.username }}</span>, le {{ reply.createdAt|date('d M Y à H:i') }}</p>
                        <p class="comment_message">{{ reply.text|raw }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        {# Pagination #}
        <div class="row">
            <div class="div-paginator">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>

    <section>

</div>

{% endblock %}

{# Script pour réponses aux commentaires #}
{% block javascripts %}
    <script>
        window.onload = () => {
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#comments_parent").value = this.dataset.id;
                })
            })
        }
    </script>
{% endblock %}