{% extends 'base.html.twig' %}

{% block body %}

<div class="single-article">

<img class="banner" src="{{ asset('img/' ~ article.banner) }}" alt="{{ article.title }}">

<div>
<h1 class="title">{{ article.title }}</h1>
</div>

<div class="details">
<p>Auteur·ice : {{ article.author }}</p>
<p>Publication : {{ article.createdAt|date('d M Y') }}</p>
{% if article.updatedAt %}
<p> Dernière mise à jour : {{ article.updatedAt|date('d M Y') }}
{% endif %}
</div>

<div>
<p class="text">{{ article.text }}</p>
</div>

<section class="comment">
    <h3>Laisser un commentaire</h3>

    {# {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %} #}
    
    <div>{{ form(commentForm) }}</div>

    <h3>{{ article.comments|length }} commentaire(s)</h3>

    <div>
    </div>

<section>

{% endblock %}